/* BASICO */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100);

html 
	background-color lighten(negro,5%)
	overflow-x hidden
	font-family 'Roboto', sans-serif
	font-weight 400
	overflow-x hidden
	
.sombra1
	textShadow(0px 1px 2px negro)
	
.texto-principal
	color alpha(principal,70%) !important
   
.texto-blanco
	color alpha(blanco,90%) !important
	
.texto-gris
	color alpha(gris,90%) !important
	
.texto-gris-2
	color alpha(gris,30%) !important
	
.texto-rosa
	color alpha(rosa,80%) !important
	
.texto-celeste
	color alpha(celeste2,80%) !important
	
.texto-violeta
	color alpha(violeta,80%) !important
	
.bg-principal
	background-color alpha(principal,80%) !important
	
.bg-azul
	background-color alpha(azul,80%) !important
	
.bg-rosa
	background-color rosa !important
	
.bg-blanco
	background-color blanco !important
	
.bg-rojo
	background-color alpha(rojo,80%)
	
.bg-gris-oscuro
	background-color lighten(negro,5%)
	
.btnFull
	width 100%
	
.seleccionado
	color principal !important
	pointer-events none
	
input:-webkit-autofill 
	-webkit-box-shadow 0 0 0px 1000px white inset

.lean-overlay
	opacity 0.8 !important
/* BASICO FINAL */