/* CLIENTES */

.formu-show-hide 
  padding 10px
  height 280px

.formu-show-hide 
  -webkit-transition all linear 0.5s
  transition all linear 0.5s

.formu-show-hide.ng-hide 
  opacity 0
  height 0

				
/* CLIENTES FINAL */