/* ENCABEZADO */

.tabs .indicator
	background-color principal !important

#menu
	color blanco
	background-color transparent
	box-shadow none
	
	& a 
		color blanco
		display block
		text-align center
		font-size 40px
		font-weight 100
	
	& .modal-footer
		background-color transparent
	
.navegador
	display none
	
.btnMenu:hover
	background-color alpha(blanco,20%) !important
		
/* ENCABEZADO FINAL