/* ENCABEZADO */

#logo
	position absolute
	top 45px
	left 30px

#menu
	color blanco
	background-color transparent
	box-shadow none
	
	& a 
		color blanco
		display block
		text-align center
		font-size 40px
		font-weight 100
		tra(.3s)
		
	& a:hover
		color principal
	
	& .modal-footer
		background-color transparent
	
.navegador
	display block
	position absolute
	top 0
	width 100%
	height 1%
	z-index 1020
	
	& .seccion 
		position absolute
		line-height 58px
		
	& .donde
		left 30px
		
	& .cerrar 
		right 30px
	
	& .tactil
		width 170px
		height 56px
		background-color alpha(negro,50%)
		position absolute
		top 50px
		right 100px
		bordesCirculares(28px)
		
	& .tactil:hover
		color principal !important
	
#btnMenu 
	transition  .4s opacity ease-out, .4s right ease-out
	position absolute
	right 0px

#btnMenu.ng-hide-add, #btnMenu.ng-hide-remove
	display  block !important 

#btnMenu.ng-hide-remove, #btnMenu.ng-hide-add.ng-hide-add-active
	right  60px
	opacity  0
	
#btnCerrar 
	transition  .4s opacity ease-out, .4s left ease-out
	position absolute
	left 0px
	opacity  1

#btnCerrar.ng-hide-add, #btnCerrar.ng-hide-remove
	display  block !important 

#btnCerrar.ng-hide-remove, #btnCerrar.ng-hide-add.ng-hide-add-active
	left  60px
	opacity  0
	
#donde 
	transition  .3s opacity ease-out, .3s color ease-out

#donde.ng-hide-add, #donde.ng-hide-remove
	display  block !important 

#donde.ng-hide-remove, #donde.ng-hide-add.ng-hide-add-active
	opacity  0
	
#cerrar 
	transition  .2s opacity ease-out, .3s color ease-out
	
#cerrar.ng-hide-add, #cerrar.ng-hide-remove
	display  block !important 

#cerrar.ng-hide-remove, #cerrar.ng-hide-add.ng-hide-add-active
	opacity  0

#btnIngresar
	position absolute
	top 50px
	right 40px
	
#btnIngresar 
	transition  .2s opacity ease-out

#btnIngresar.ng-hide-add, #btnIngresar.ng-hide-remove
	display  block !important 

#btnIngresar.ng-hide-remove, #btnIngresar.ng-hide-add.ng-hide-add-active
	opacity  0

#cerrarAllModals
	width 100%
	height 100%
	position absolute
	display none
	top 0
	
.mensaje
	width 100%
	height 20px
	
.socialMedia
	width 100%
	height 70px
	margin-top 20px
	
	& a:hover
		background-color alpha(negro,40%)
		
	& a:hover > i
		color principal
		
.separador
	margin 10px