
@font-face 
    font-family 'z_arista_lightregular'
    src url('../fonts/z_arista_light-webfont.eot')
    src url('../fonts/z_arista_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/z_arista_light-webfont.woff2') format('woff2'),
         url('../fonts/z_arista_light-webfont.woff') format('woff'),
         url('../fonts/z_arista_light-webfont.ttf') format('truetype'),
         url('../fonts/z_arista_light-webfont.svg#z_arista_lightregular') format('svg')
    font-weight normal
    font-style normal

// @font-face 
//   font-family "Ionicons"
//   src: url("../fonts/ionicons.eot?v=2.0.1")
//   src: url("../fonts/ionicons.eot?v=2.0.1#iefix") format("embedded-opentype"), url("../fonts/ionicons.ttf?v=2.0.1") format("truetype"), url("../fonts/ionicons.woff?v=2.0.1") format("woff"), url("../fonts/ionicons.woff") format("woff"), url("../fonts/ionicons.svg?v=2.0.1#Ionicons") format("svg")
//   font-weight normal
//   font-style normal


// @font-face 
//     font-family 'dolce_vita_lightsuper_light'
//     src url('../fonts/dolce_vita_light-webfont.eot')
//     src url('../fonts/dolce_vita_light-webfont.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/dolce_vita_light-webfont.woff') format('woff'),
//          url('../fonts/dolce_vita_light-webfont.ttf') format('truetype'),
//          url('../fonts/dolce_vita_light-webfont.svg#dolce_vita_lightsuper_light') format('svg')
//     font-weight normal
//     font-style normal


// @font-face 
//     font-family 'OpenSans-Regular'
//     src url('../fonts/OpenSans-Regular.eot')
//     src url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/OpenSans-Regular.woff') format('woff'),
//          url('../fonts/OpenSans-Regular.ttf') format('truetype'),
//          url('../fonts/OpenSans-Regular.svg#circoregular') format('svg')
//     font-weight normal
//     font-style normal

    
// @font-face 
//     font-family 'latolight'
//     src: url('../fonts/lato-light-webfont.eot')
//     src: url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/lato-light-webfont.woff2') format('woff2'),
//          url('../fonts/lato-light-webfont.woff') format('woff'),
//          url('../fonts/lato-light-webfont.ttf') format('truetype'),
//          url('../fonts/lato-light-webfont.svg#latolight') format('svg')
//     font-weight normal
//     font-style normal

// @font-face {
//     font-family: 'jk_abodelight_demo';
//     src: url('../font/JKabode/jkabode-lightdemo-webfont.eot');
//     src: url('../font/JKabode/jkabode-lightdemo-webfont.eot?#iefix') format('embedded-opentype'),
//          url('../font/JKabode/jkabode-lightdemo-webfont.woff2') format('woff2'),
//          url('../font/JKabode/jkabode-lightdemo-webfont.woff') format('woff'),
//          url('../font/JKabode/jkabode-lightdemo-webfont.ttf') format('truetype'),
//          url('../font/JKabode/jkabode-lightdemo-webfont.svg#jk_abodelight_demo') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'materialdesignicons';
//     src: url('../font/material-icons/materialdesignicons-webfont.eot');
//     src: url('../font/material-icons/materialdesignicons-webfont.eot?#iefix') format('embedded-opentype'),
//          url('../font/material-icons/materialdesignicons-webfont.woff2') format('woff2'),
//          url('../font/material-icons/materialdesignicons-webfont.woff') format('woff'),
//          url('../font/material-icons/materialdesignicons-webfont.ttf') format('truetype'),
//          url('../font/material-icons/materialdesignicons-webfont.svg#materialdesignicons') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Material-Design-Icons';
//     src: url('../font/material-design-icons/Material-Design-Icons.eot');
//     src: url('../font/material-design-icons/Material-Design-Icons.eot?#iefix') format('embedded-opentype'),
//          url('../font/material-design-icons/Material-Design-Icons.woff2') format('woff2'),
//          url('../font/material-design-icons/Material-Design-Icons.woff') format('woff'),
//          url('../font/material-design-icons/Material-Design-Icons.ttf') format('truetype'),
//          url('../font/material-design-icons/Material-Design-Icons.svg#Material-Design-Icons') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }
@font-face 
    font-family  'dolce_vita_lightsuper_light'
    src  url('../fonts/dolce_vita_light-webfont.eot')
    src  url('../fonts/dolce_vita_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dolce_vita_light-webfont.woff2') format('woff2'),
         url('../fonts/dolce_vita_light-webfont.woff') format('woff'),
         url('../fonts/dolce_vita_light-webfont.ttf') format('truetype'),
         url('../fonts/dolce_vita_light-webfont.svg#dolce_vita_lightsuper_light') format('svg')
    font-weight  normal
    font-style  normal


@font-face 
    font-family  'dolce_vitaquite_regular'
    src  url('../fonts/dolce_vita-webfont.eot')
    src  url('../fonts/dolce_vita-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dolce_vita-webfont.woff2') format('woff2'),
         url('../fonts/dolce_vita-webfont.woff') format('woff'),
         url('../fonts/dolce_vita-webfont.ttf') format('truetype'),
         url('../fonts/dolce_vita-webfont.svg#dolce_vitaquite_regular') format('svg')
    font-weight  normal
    font-style  normal

