 INICIO */

.triangulo1
	width 100%
	height 0
	border-style solid
	border-width 150px 950px 0 950px
	border-color transparent negro2 negro2 negro2
	position absolute
	margin-bottom 90px
	box()
	
.tri1 
	width 100%
	position absolute
	bottom 0px
	
.trio img 
	width 100%
	
.propaContenedor
	position absolute
	top 220px
	width 100%
	color blanco
	text-align center
	
	& .propa-titulo
		font-weight bold
		margin-bottom 40px
		font-size 60px
	
	& .propa-texto
		font-weight 300
		font-size 30px

	& a 
		margin-top 40px
		
	& p 
		margin 0
		padding 0 10px
	
.logosContenedor
	max-width 750px
	padding 20px 0
	margin 0 auto
	
	& img 
		padding 0 5px

.st1
	overflow hidden
	display block
	margin 0
		
	& img 
		display block
		z-index 10
		position relative
	
	& .texto 
		color blanco
		margin-top 250px
		z-index 10
		position relative

	& h2 
		font-weight bold
		
	& h5
		font-weight 300
		
	& .divider
		width 390px
		height 2px
		background-color darken(negro,20%)
		border-bottom 1px solid lighten(negro,10%)
		
.st2
	overflow hidden
	display block
	margin 0
		
	& img 
		display block
		z-index 10
		position relative
	
	& .texto 
		color blanco
		margin-top 250px
		z-index 10
		position relative

	& h2 
		font-weight bold
		
	& h5
		font-weight 300
		
		
	& .divider
		width 520px
		height 2px
		background-color darken(negro,20%)
		border-bottom 1px solid lighten(negro,10%)
		
.st3
	overflow hidden
	display block
	margin 0
		
	& img 
		display block
		z-index 10
		position relative
	
	& .texto 
		color blanco
		margin-top 250px
		z-index 10
		position relative

	& h2 
		font-weight bold
		
	& h5
		font-weight 300
		
	& .icono-fondo
		position absolute
		font-size 900px
		left -30px
		margin-top -300px
		
	& .divider
		width 430px
		height 2px
		background-color darken(negro,20%)
		border-bottom 1px solid lighten(negro,10%)
		
.circulos
	bordesCirculares(50%)
	background-color principal
	width 80px
	height 80px
	boxShadow(-10px 10px 15px alpha(negro,60%))
	text-align center
	line-height 80px
	font-size 30px
	
.socials a 
	margin-top 20px
	margin-right 5px
	
.socials a:hover 
	background-color alpha(principal,50%)
	
/* FIN INICIO 