@media screen and (max-width 350px)
			
	#logo
		top 12px
		
		& img 
			width 50px
	
		& .bno 
			font-size 30px
			margin-left 5px
			margin-top 5px
		
	.propaContenedor
		top 85px
		
		& .propa-titulo
			margin-bottom 20px
			margin 0
			padding 0
			
		& a 
			margin-top 20px