@media screen and (max-width 600px)

	.contenedorPropa
		max-width 500px
		font-size 30px
		left 10%
		top 70px
		
		& span 
			font-size 45px
			
		& a 
			margin-top 15px
	
	#logo 
		top 10px
		left 10px
		
		& img
			width 230px

	.propaContenedor
		top 90px
		
		& .propa-titulo
			font-weight bold
			margin-bottom 30px
			font-size 40px
		
		& .propa-texto
			font-weight 300
			font-size 20px
			
		& a 
			margin-top 30px
			
	.textoIntrusivo 
		padding-top 100px
			