/* PRIVADO */

.lista
	width 350px
	height 140px
	background-color negro2
	
	& .listaImagen
		width 100px
		height 100px
		padding 10px
		float left
		
		& img 
			width 80px
			height 80px
			border-radius 50%
			
	& .listaTexto
		width 250px
		height 100px
		padding 10px
		float left
		
		& .listaNombre
			width 100%
			color principal
			font-size 20px
			
		& .listaDireccion
			width 100%
			color blanco
			
		& .listaMusica
			width 100%
			color alpha(blanco,50%)
			
		& .listaExtras
			width 100%
			
			& .listaDatos
				min-width 30px
				float right
				margin 10px
				
				& i 
					color principal
					font-size 30px
					float left
					margin-right 5px
					
				& p 
					color blanco
					font-size 15px
					float left
