/* SERVICIOS */

.push-titulo
	padding 100px 0
	color negro
	
	& .section 
		padding 0 15px
	
	& h5 
		font-size 50px
		margin-top 100px
		
	& p 
		font-size 25px
		color alpha(negro,70%)
		
	& .btn-push
		//background-color red
		width 100%
		height 55px
		padding 10px
		
		& a 
			float right
			
.coincidir 
	color red
	font-size 16px
	text-align center