/*

@import 'ap-reset.styl'

*/
@font-face {
  font-family: 'z_arista_lightregular';
  src: url("../fonts/z_arista_light-webfont.eot");
  src: url("../fonts/z_arista_light-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/z_arista_light-webfont.woff2") format('woff2'), url("../fonts/z_arista_light-webfont.woff") format('woff'), url("../fonts/z_arista_light-webfont.ttf") format('truetype'), url("../fonts/z_arista_light-webfont.svg#z_arista_lightregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css?family=Signika:400,700,300");
html {
  background-color: #0d0b0d;
  overflow-x: hidden;
  font-family: 'Signika', sans-serif;
  font-weight: 400;
}
body {
  overflow-x: hidden;
}
.sombra1 {
  text-shadow: 0px 1px 2px #000;
  -o-text-shadow: 0px 1px 2px #000;
  -ms-text-shadow: 0px 1px 2px #000;
  -moz-text-shadow: 0px 1px 2px #000;
  -webkit-text-shadow: 0px 1px 2px #000;
}
.texto-principal {
  color: rgba(0,174,239,0.7) !important;
}
.texto-blanco {
  color: rgba(255,255,255,0.9) !important;
}
.texto-gris {
  color: rgba(122,122,122,0.9) !important;
}
.texto-gris-2 {
  color: rgba(122,122,122,0.3) !important;
}
.texto-rosa {
  color: rgba(161,58,85,0.8) !important;
}
.texto-celeste {
  color: rgba(0,174,239,0.8) !important;
}
.texto-violeta {
  color: rgba(85,48,91,0.8) !important;
}
.bg-principal {
  background-color: rgba(0,174,239,0.8) !important;
}
.bg-azul {
  background-color: rgba(45,58,67,0.8) !important;
}
.bg-rosa {
  background-color: #a13a55 !important;
}
.bg-blanco {
  background-color: #fff !important;
}
.bg-rojo {
  background-color: rgba(242,86,72,0.8);
}
.bg-gris-oscuro {
  background-color: #0d0d0d;
}
.btnFull {
  width: 100%;
}
.seleccionado {
  color: #00aeef !important;
  pointer-events: none;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
.lean-overlay {
  opacity: 0.9 !important;
}
[ng:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x- ng-cloak {
  display: none !important;
}
.centrar-texto {
  text-align: center;
}
.centrar-div {
  width: 280px;
  margin: 0 auto;
}
#map {
  height: 400px;
  margin: 20px 0;
}
a[href^="http://maps.google.com/maps"] {
  display: none !important;
}
a[href^="https://maps.google.com/maps"] {
  display: none !important;
}
.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
  display: none;
}
.gmnoprint div {
  background: none !important;
}
#logo {
  position: absolute;
  top: 45px;
  left: 30px;
  font-family: 'z_arista_lightregular';
}
#logo img {
  float: left;
  width: 60px;
}
#logo .bno {
  float: left;
  font-size: 50px;
  margin-left: 10px;
  color: #00aeef;
}
#menu {
  color: #fff;
  background-color: transparent;
  box-shadow: none;
}
#menu a {
  color: #fff;
  display: block;
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#menu a:hover {
  color: #00aeef;
}
#menu .modal-footer {
  background-color: transparent;
}
.navegador {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 1%;
  z-index: 1020;
}
.navegador .seccion {
  position: absolute;
  line-height: 58px;
}
.navegador .donde {
  left: 30px;
}
.navegador .cerrar {
  right: 30px;
}
.navegador .tactil {
  width: 170px;
  height: 56px;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 50px;
  right: 100px;
  border-radius: 28px;
  -o-border-radius: 28px;
  -ms-border-radius: 28px;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
}
.navegador .tactil:hover {
  color: #00aeef !important;
}
.navegador .tactilMobile {
  width: 56px;
  height: 56px;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 10px;
  right: 70px;
  border-radius: 28px;
  -o-border-radius: 28px;
  -ms-border-radius: 28px;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
}
#btnMenu {
  transition: 0.4s opacity ease-out, 0.4s right ease-out;
  position: absolute;
  right: 0px;
}
#btnMenu.ng-hide-add,
#btnMenu.ng-hide-remove {
  display: block !important;
}
#btnMenu.ng-hide-remove,
#btnMenu.ng-hide-add.ng-hide-add-active {
  right: 60px;
  opacity: 0;
}
#btnCerrar {
  transition: 0.4s opacity ease-out, 0.4s left ease-out;
  position: absolute;
  left: 0px;
  opacity: 1;
}
#btnCerrar.ng-hide-add,
#btnCerrar.ng-hide-remove {
  display: block !important;
}
#btnCerrar.ng-hide-remove,
#btnCerrar.ng-hide-add.ng-hide-add-active {
  left: 60px;
  opacity: 0;
}
#btnMenuMobile {
  transition: 0.4s opacity ease-out;
  position: absolute;
}
#btnCerrarMobile {
  transition: 0.4s opacity ease-out;
  position: absolute;
  opacity: 1;
}
#donde {
  transition: 0.3s opacity ease-out, 0.3s color ease-out;
}
#donde.ng-hide-add,
#donde.ng-hide-remove {
  display: block !important;
}
#donde.ng-hide-remove,
#donde.ng-hide-add.ng-hide-add-active {
  opacity: 0;
}
#cerrar {
  transition: 0.2s opacity ease-out, 0.3s color ease-out;
}
#cerrar.ng-hide-add,
#cerrar.ng-hide-remove {
  display: block !important;
}
#cerrar.ng-hide-remove,
#cerrar.ng-hide-add.ng-hide-add-active {
  opacity: 0;
}
#btnIngresar {
  position: absolute;
  top: 50px;
  right: 40px;
}
#btnIngresar {
  transition: 0.2s opacity ease-out;
}
#btnIngresar.ng-hide-add,
#btnIngresar.ng-hide-remove {
  display: block !important;
}
#btnIngresar.ng-hide-remove,
#btnIngresar.ng-hide-add.ng-hide-add-active {
  opacity: 0;
}
#cerrarAllModals {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  top: 0;
}
.mensaje {
  width: 100%;
  height: 20px;
}
.socialMedia {
  width: 100%;
  height: 70px;
  margin-top: 20px;
}
.socialMedia a:hover {
  background-color: rgba(0,0,0,0.4);
}
.socialMedia a:hover > i {
  color: #00aeef;
}
.separador {
  margin: 10px;
}
INICIO */,
.triangulo1 {
  width: 100%;
  height: 0;
  border-style: solid;
  border-width: 150px 950px 0 950px;
  border-color: transparent #151515 #151515 #151515;
  position: absolute;
  margin-bottom: 90px;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.tri1 {
  width: 100%;
  position: absolute;
  bottom: 0px;
}
.trio img {
  width: 100%;
}
.propaContenedor {
  position: absolute;
  top: 220px;
  width: 100%;
  color: #fff;
  text-align: center;
}
.propaContenedor .propa-titulo {
  font-weight: bold;
  margin-bottom: 40px;
  font-size: 60px;
}
.propaContenedor .propa-texto {
  font-weight: 300;
  font-size: 30px;
}
.propaContenedor a {
  margin-top: 40px;
}
.propaContenedor p {
  margin: 0;
  padding: 0 10px;
}
.logosContenedor {
  max-width: 750px;
  padding: 20px 0;
  margin: 0 auto;
}
.logosContenedor img {
  padding: 0 5px;
}
.st1 {
  overflow: hidden;
  display: block;
  margin: 0;
}
.st1 img {
  display: block;
  z-index: 10;
  position: relative;
}
.st1 .texto {
  color: #fff;
  margin-top: 250px;
  z-index: 10;
  position: relative;
}
.st1 h2 {
  font-weight: bold;
}
.st1 h5 {
  font-weight: 300;
}
.st1 .divider {
  width: 390px;
  height: 2px;
  background-color: #000;
  border-bottom: 1px solid #1a1a1a;
}
.st2 {
  overflow: hidden;
  display: block;
  margin: 0;
}
.st2 img {
  display: block;
  z-index: 10;
  position: relative;
}
.st2 .texto {
  color: #fff;
  margin-top: 250px;
  z-index: 10;
  position: relative;
}
.st2 h2 {
  font-weight: bold;
}
.st2 h5 {
  font-weight: 300;
}
.st2 .divider {
  width: 520px;
  height: 2px;
  background-color: #000;
  border-bottom: 1px solid #1a1a1a;
}
.st3 {
  overflow: hidden;
  display: block;
  margin: 0;
}
.st3 img {
  display: block;
  z-index: 10;
  position: relative;
}
.st3 .texto {
  color: #fff;
  margin-top: 250px;
  z-index: 10;
  position: relative;
}
.st3 h2 {
  font-weight: bold;
}
.st3 h5 {
  font-weight: 300;
}
.st3 .icono-fondo {
  position: absolute;
  font-size: 900px;
  left: -30px;
  margin-top: -300px;
}
.st3 .divider {
  width: 430px;
  height: 2px;
  background-color: #000;
  border-bottom: 1px solid #1a1a1a;
}
.circulos {
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: #00aeef;
  width: 80px;
  height: 80px;
  box-shadow: -10px 10px 15px rgba(0,0,0,0.6);
  -o-box-shadow: -10px 10px 15px rgba(0,0,0,0.6);
  -ms-box-shadow: -10px 10px 15px rgba(0,0,0,0.6);
  -moz-box-shadow: -10px 10px 15px rgba(0,0,0,0.6);
  -webkit-box-shadow: -10px 10px 15px rgba(0,0,0,0.6);
  text-align: center;
  line-height: 80px;
  font-size: 30px;
}
.socials a {
  margin-top: 20px;
  margin-right: 5px;
}
.socials a:hover {
  background-color: rgba(0,174,239,0.5);
}
@media screen and (max-width: 800px) {
  .navegador .tactil {
    top: 10px;
    right: 70px;
  }
  #btnIngresar {
    top: 10px;
    right: 10px;
  }
  #logo {
    top: 5px;
    left: 10px;
  }
  .propaContenedor {
    top: 220px;
  }
  .propaContenedor .propa-titulo {
    font-size: 50px;
  }
}
@media screen and (max-width: 600px) {
  #logo {
    left: 0px;
  }
  #logo img {
    width: 55px;
  }
  #logo .bno {
    font-size: 40px;
    margin-left: 5px;
  }
  .propaContenedor {
    top: 90px;
  }
  .propaContenedor .propa-titulo {
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 40px;
  }
  .propaContenedor .propa-texto {
    font-weight: 300;
    font-size: 20px;
  }
  .propaContenedor a {
    margin-top: 30px;
  }
}
@media screen and (max-width: 350px) {
  #logo {
    top: 12px;
  }
  #logo img {
    width: 50px;
  }
  #logo .bno {
    font-size: 30px;
    margin-left: 5px;
    margin-top: 5px;
  }
  .propaContenedor {
    top: 85px;
  }
  .propaContenedor .propa-titulo {
    margin-bottom: 20px;
    margin: 0;
    padding: 0;
  }
  .propaContenedor a {
    margin-top: 20px;
  }
}
/*

@import 'ap-clientes.styl'

@import 'ap-pie.styl'

@import 'ap-media-1280.styl'

@import 'ap-media-1000.styl'

@import 'ap-secciones.styl'

*/
