/*

@import 'ap-reset.styl'

@import 'ap-fuentes.styl'

*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,100");
html {
  background-color: #0d0d0d;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}
.sombra1 {
  text-shadow: 0px 1px 2px #000;
  -o-text-shadow: 0px 1px 2px #000;
  -ms-text-shadow: 0px 1px 2px #000;
  -moz-text-shadow: 0px 1px 2px #000;
  -webkit-text-shadow: 0px 1px 2px #000;
}
.texto-principal {
  color: rgba(0,174,239,0.7) !important;
}
.texto-blanco {
  color: rgba(255,255,255,0.9) !important;
}
.texto-rosa {
  color: rgba(161,58,85,0.8) !important;
}
.texto-celeste {
  color: rgba(0,174,239,0.8) !important;
}
.texto-violeta {
  color: rgba(85,48,91,0.8) !important;
}
.bg-principal {
  background-color: rgba(0,174,239,0.8) !important;
}
.bg-azul {
  background-color: rgba(45,58,67,0.8) !important;
}
.bg-rosa {
  background-color: #a13a55 !important;
}
.bg-blanco {
  background-color: #fff !important;
}
.bg-rojo {
  background-color: rgba(242,86,72,0.8);
}
.bg-gris-oscuro {
  background-color: #0d0d0d;
}
.btnFull {
  width: 100%;
}
.seleccionado {
  color: #00aeef !important;
  pointer-events: none;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
.lado {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.lado.ng-enter,
.lado.ng-leave {
  -webkit-transition: left 1s ease;
  transition: left 1s ease;
}
.lado.ng-enter {
  left: 100%;
}
.lado.ng-enter-active {
  left: 0;
}
.lado.ng-leave {
  left: 0;
}
.lado.ng-leave-active {
  left: -100%;
}
.tabs .indicator {
  background-color: #00aeef !important;
}
#menu {
  color: #fff;
  background-color: transparent;
  box-shadow: none;
}
#menu a {
  color: #fff;
  display: block;
  text-align: center;
  font-size: 40px;
  font-weight: 100;
}
#menu .modal-footer {
  background-color: transparent;
}
.navegador {
  display: none;
}
.btnMenu:hover {
  background-color: rgba(255,255,255,0.2) !important;
}
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .navegador {
    display: block;
  }
}
/*

@import 'ap-clientes.styl'

@import 'ap-pie.styl'

@import 'ap-media-1280.styl'

@import 'ap-media-1000.styl'

@import 'ap-secciones.styl'

*/
