<div class="row" style="overflow-x:hidden;margin: 0; background: white">
  <img ng-src="{{imagenClientes}}" alt="" width="100%">
</div>
<div class="row" style="background:white;padding: 50px;margin: 0px">
	<div class="container">
		<div class="col s12">
		    <h2 class="centrar-div">Registrarse</h2>
		    <p class="centrar-div" style="font-size: 17px">Todos los campos son obligatorios.</p>

		    <div class="mensaje">
	            <div id="mensaje" class="center-align red-text">{{message}}</div>
	            <div ng-show="dataLoading" class="center-align texto-principal">Conectando...</div>
	        </div>
	            
		</div>

		<form name="formularioCliente" novalidate>
			
			<div class="col s12 formu-show-hide">
				
				<div class="col s12">
					<div class="section center-align">
					    <h5>Paso 1</h5>
					    <p class="center-align">Ingrese sus datos</p>
					</div>
				</div>

				<div class="col s12">
					<div class="input-field">
						<i class="ion-person prefix"></i>
						<input id="firstName" type="text" ng-model="client.firstname" required>
		      			<label for="firstName">Nombre</label>
					</div>
					<div class="input-field">
						<i class="ion-person-add prefix"></i>
						<input id="lastName" type="text" ng-model="client.lastname" required>
		      			<label for="lastName">Apellido</label>
					</div>
				</div>

			</div>

			<div ng-show="client.lastname" class="col s12 formu-show-hide">

				<div class="col s12">
					<div class="section center-align">
					    <h5>Paso 2</h5>
					    <p class="center-align">Solo email y contraseña para terminar</p>
					</div>
				</div>

				<div class="col s12 m12">
					<div class="input-field">
						<i class="ion-email prefix"></i>
						<input id="email" type="email" class="validate" ng-model="client.email" required>
		      			<label data-error="invalido" for="email">Email</label>
					</div>
					<div class="input-field">
						<i class="ion-unlocked prefix"></i>
						<input id="password" type="password" ng-model="client.password" required>
		      			<label for="password">Contraseña</label>
					</div>	
				</div>
				
				<div class="col s12 m5 offset-m7">
					<div class="input-field">
						<button class="btn waves-effect waves-light btnFull bg-principal" ng-click="register(client)" ng-disabled="formularioCliente.$invalid">Registrarse
					    </button>
					</div>
				</div>
			</div>
			
		</form>

	</div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="./images/gente.jpg"></div>
</div>
