<div class="row" style="overflow-x:hidden;position: relative;">
    <img ng-src="{{imagenInicio}}" alt="" width="100%">
    <div class="propaContenedor">
	    <p class="propa-titulo">Encontra dónde ir con amigos</p>
	    <p class="propa-texto">Desde tu teléfono te damos todas las opciones</p>
	    <p class="propa-texto">y te mostramos cómo llegar</p>
	    <a class="waves-effect waves-light btn-large bg-principal">Registrate</a>
    </div>
    <img class="tri1" src="./images/tri1.svg" alt="">
</div>

<div class="row">
	<div class="container">
		<div class="logosContenedor">
			<img src="./images/logos/sunset.png">
			<img src="./images/logos/pinar.png">
			<img src="./images/logos/big-one.png">
			<img src="./images/logos/club21.png">
			<img src="./images/logos/asia-de-cuba.png">
			<img src="./images/logos/caix.png">
			<img src="./images/logos/jesse-james.png">
			<img src="./images/logos/el-bosque.png">
		</div>
	</div>
</div>

<div class="row st1">
	<div class="container">
		<div class="col s12 m7">
			<div class="texto">
				<div class="circulos">1.</div>
			    <h2>Dónde vamos?</h2>
			    <div class="divider"></div>
			    <h5>Te mostramos los mejores lugares</h5>
			    <h5>que esten cerca</h5>
			    <h5></h5>
			    <h5></h5>
			</div>
		</div>
		<div class="col s12 m5 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
			<img src="./images/phone1.png">
		</div>
		<i class="ion-chatboxes icono-fondo"></i>
	</div>
	<img class="tri2" src="./images/tri2.svg" alt="">
</div>


<div class="row st2">
	<div class="container">
		<div ng-show="!pushiar" class="col s12 m5">
			<img src="./images/phone2.png">
		</div>
		<div class="col s12 m7">
			<div class="texto">
				<div class="circulos">2.</div>
			    <h2>Qué lugar nos gusta mas?</h2>
			    <div class="divider"></div>
			    <h5>Te damos toda la info necesaria</h5>
			    <h5>para que puedas elegir</h5>
			    <h5></h5>
			    <h5></h5>
			</div>
		</div>
		<div ng-show="pushiar" class="col s12 m5 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
			<img src="./images/phone2.png">
		</div>
		<i class="ion-ios-people icono-fondo"></i>
	</div>
	<img class="tri3" src="./images/tri3.svg" alt="">
</div>

<div class="row st3">
	<div class="container">
		<div class="col s12 m7">
			<div class="texto">
				<div class="circulos">3.</div>
			    <h2>Cómo llegamos?</h2>
			    <div class="divider"></div>
			    <h5>Te mostramos cómo</h5>
			    <h5>y por dónde ir</h5>
			    <h5></h5>
			    <h5></h5>
			</div>
		</div>
		<div class="col s12 m5 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
			<img src="./images/phone3.png">
		</div>
		<i class="ion-map icono-fondo"></i>
	</div>
</div>

<div class="row bg-blanco banightonFondo">
	<div class="container">
		<div class="section wow" ng-class="{'fadeInRight': cambio, 'fadeIn': !cambio }" data-wow-duration="1s">
		    <div class="section centrar-texto">
			    <h5>Todo lo que necesitas</h5>
			    <p class="texto-gris">Para que tus usuarios esten más conectados</p>
			</div>
	    </div>
		<div class="row">
			<div class="col s12 m6 l4 wow fadeIn" data-wow-duration="1s">
				<div class="card hoverable">
				    <div class="card-image waves-effect waves-block waves-light">
				        <img class="activator" src="images/pushzonales.jpg">
				    </div>
				    <div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Push<i class="ion-more right"></i></span>
						<p><a href="#">Ver detallado</a></p>
				    </div>
				    <div class="card-reveal">
						<span class="card-title grey-text text-darken-4">Push<i class="ion-close-round right"></i></span>
						<p>Enviar mensajes zonales con eventos promos y informacion.</p>
				    </div>
				</div>
			</div>
			<div class="col s12 m6 l4 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
				<div class="card hoverable">
				    <div class="card-image waves-effect waves-block waves-light">
				        <img class="activator" src="images/mailing.jpg">
				    </div>
				    <div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Mailing<i class="ion-more right"></i></span>
						<p><a href="#">Ver detallado</a></p>
				    </div>
				    <div class="card-reveal">
						<span class="card-title grey-text text-darken-4">Mailing<i class="ion-close-round right"></i></span>
						<p>Creamos campañas de mailing semanales con toda la informacion destacada.</p>
				    </div>
				</div>
			</div>
			<div class="col s12 m6 l4 wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
				<div class="card hoverable">
				    <div class="card-image waves-effect waves-block waves-light">
				        <img class="activator" src="images/appservicios.jpg">
				    </div>
				    <div class="card-content">
						<span class="card-title activator grey-text text-darken-4">App<i class="ion-more right"></i></span>
						<p><a href="#">Ver detallado</a></p>
				    </div>
				    <div class="card-reveal">
						<span class="card-title grey-text text-darken-4">App<i class="ion-close-round right"></i></span>
						<p>Podes tener en tu celular una APP para podes administrar tus servicion de la forma que mas te guste.</p>
				    </div>
				</div>
			</div>
		</div>
	</div>	
</div>
