<div class="row" style="overflow-x:hidden;margin: 0; background: white">
  <img ng-src="{{imagenPrivado}}" alt="">
</div>
<div class="row" style="background: white">
	<div class="container">
		<div class="col s12 m12 l4">
			<div class="section">
			    <h5>Datos Principales</h5>
			    <p>Tus datos principales</p>
			</div>
		</div>
		<div class="col s12 m12 l8">
			<ul class="collapsible popout" data-collapsible="accordion">
			    <li>
			        <div class="collapsible-header"><i class="ion-email"></i>Cambiar email</div>
			        <div class="collapsible-body">
			        	<div class="container">
			        		<form name="formularioCambiarEmail">

				        		<div class="input-field">
									<input id="changeOldEmail" 
									type="email" 
									ng-model="change.oldEmail" 
									required
									/>
					      			<label for="changeOldEmail">Email Viejo</label>
								</div>

								<div class="input-field">
									<input id="changeNewEmail" 
									type="email" 
									ng-model="change.newEmail" 
									required
									/>
					      			<label for="changeNewEmail">Email Nuevo</label>
								</div>

								<div class="input-field">
									<input id="changePassword" 
									type="password" 
									ng-model="change.password" 
									required
									/>
					      			<label for="changePassword">Contraseña</label>
								</div>

								<div ng-show="ocultar" class="input-field">
									<input id="email" 
									type="email" 
									ng-model="client.email"
									ng-change="client.$save()"
									/>
					      			<label class="active" for="email">Email</label>
								</div>

								<div ng-class="{ true:'cambioMensajeExitoso' , false:'cambioMensaje'}[cambioEmailMensaje == 'Usuario email cambiado con exito!']" ng-show="LoadingCambioEmailMensaje">{{cambioEmailMensaje}}</div>

								<button class="waves-effect waves-light btn cambioBtn"
									ng-click="cambiarEmail(change)" 
									ng-disabled="formularioCambiarEmail.$invalid">
									Cambiar Email
								</button>

							</form>
						</div>
			        </div>
			    </li>
			    <li>
			        <div class="collapsible-header"><i class="ion-locked"></i>Cambiar contraseña</div>
			        <div class="collapsible-body">
			        	<div class="container">
			        		<form name="formularioCambiarPassword">
								
								<div class="input-field">
									<input id="changePasswordOld" 
									type="password" 
									ng-model="change.passwordOld" 
									required
									/>
					      			<label for="changePasswordOld">Contraseña Vieja</label>
								</div>

								<div class="input-field">
									<input id="changePasswordNew" 
									type="password" 
									ng-model="change.passwordNew" 
									name="passwordName"
									required
									/>
					      			<label for="changePasswordNew">Contraseña Nueva</label>
								</div>

								<div class="input-field">
									<input id="changePasswordNewConfirm" 
									type="password" 
									ng-model="register.changePasswordNewConfirm" 
									match="change.passwordNew"
									name="myConfirmField"
									required
									/>
					      			<label for="changePasswordNewConfirm">Confirmar Contraseña Nueva</label>
								</div>

								<div ng-show="formularioCambiarPassword.myConfirmField.$error.match" class="coincidir">Las contraseñas no coinciden!</div>

								<div class="input-field">
									<input id="changePasswordEmail" 
									type="email" 
									ng-model="change.passwordEmail" 
									required
									/>
					      			<label for="changePasswordEmail">Email</label>
								</div>

								<div ng-class="{ true:'cambioMensajeExitoso' , false:'cambioMensaje'}[cambioPasswordMensaje == 'Usuario contraseña cambiada con exito!']" ng-show="LoadingCambioPasswordMensaje">{{cambioPasswordMensaje}}</div>

								<button class="waves-effect waves-light btn cambioBtn"
									ng-click="cambiarPassword(change)" 
									ng-disabled="formularioCambiarPassword.$invalid">
									Cambiar Contraseña
								</button>
							</form>
						</div>
			        </div>
			    </li>
			    <li>
			        <div class="collapsible-header"><i class="ion-person"></i>{{client.firstname}} {{client.lastname}}</div>
			        <div class="collapsible-body">
			        	<div class="container">
			        		<div class="input-field">
								<input id="firstName" type="text" ng-model="client.firstname" 
								ng-change="client.$save()">
				      			<label ng-class="{active: client.firstname}" for="firstName">Nombre</label>
							</div>
							<div class="input-field">
								<input id="lastName" type="text" ng-model="client.lastname" 
								ng-change="client.$save()">
				      			<label ng-class="{active: client.lastname}" for="lastName">Apellido</label>
							</div>
			        	</div>	
			        </div>
			    </li>
		    </ul>
		</div>

		<div style="clear: both;"></div>

		<div class="col s12 m12 l4">
			<div class="section">
			    <h5>Mas Lugaress</h5>
			    <p>Podes agregar más lugares.</p>
			</div>
		</div>
		<div class="col s12 m12 l6" style="padding-bottom: 20px">
			<div class="container">
				<div class="input-field col s8">   
					
					<p ng-show="!client.places">Esta zona se abilitara cuando ingrese datos</p>

				    <p ng-repeat="lugar in client.places">
				        <input type="checkbox" id="checkeado{{$index}}"
				        ng-model="seleccionado[$index]"  ng-change="cambiarDeLugar($index)"
				        />
				        <label for="checkeado{{$index}}">
				        	<span ng-show="lugar.lugarNombre">{{lugar.lugarNombre}}</span>
				        	<span ng-show="!lugar.lugarNombre">Nombre nuevo lugar</span>
				        </label>
			    	</p>
					
				</div>
				<div ng-show="client.places" class="section col s4" style="padding-top: 30px">
					<a class="waves-effect waves-light btn" ng-click="modalLugares('abrir')"><i class="ion-plus"></i></a>
				</div>
			</div>
		</div>

		<div style="clear: both;"></div>

		<div class="col s12 m12 l4">
			<div class="section">
			    <h5>Datos Especificos</h5>
			    <p>Datos del Boliche</p>
			    <div id="map" class="z-depth-2"></div>
			</div>
		</div>
		<div class="col s12 m12 l8">
			<ul class="collapsible popout" data-collapsible="accordion">
			    <li>
			        <div class="collapsible-header">
			        	<i class="ion-android-done-all"></i>
			        	<span ng-show="client.places[lugares].client">{{client.places[lugares].client | capitalize}}</span>
			        	<span ng-show="!client.places[lugares].client">Seleccione un lugar</span>
			        </div>
			        <div class="collapsible-body">
			        	
						<p>
					        <input ng-model="client.places[lugares].client" type="checkbox" id="disco" ng-true-value="'disco'" ng-false-value="''" >
					        <label for="disco">Disco</label>
				    	</p>

					
						<p>
					        <input ng-model="client.places[lugares].client" type="checkbox" id="bar" ng-true-value="'bar'" ng-false-value="''" >
					        <label for="bar">Bar</label>
					    </p>

					    <p ng-show="ocultar">
					    	<input ng-model="client.places[lugares].status" type="text">
					    </p>
					
			        </div>
			    </li>
			    <li>
			        <div class="collapsible-header">
			        	<i ng-show="client.places[lugares].client == 'disco'" class="ion-disc"></i>
			        	<i ng-show="client.places[lugares].client == 'bar'" class="ion-android-bar"></i>
			        	<i ng-show="!client.places[lugares].client" class="ion-help-circled"></i>
			        	<span ng-show="client.places[lugares].lugarNombre">{{client.places[lugares].lugarNombre}}</span>
			        	<span ng-show="!client.places[lugares].lugarNombre">Ingrese nombre del lugar</span>
			        </div>
			        <div class="collapsible-body">
			        	<div class="container">
			        		<div class="input-field">
								<input id="lugarNombre" type="text" ng-model="client.places[lugares].lugarNombre" >
				      			<label ng-class="{active: client.places[lugares].lugarNombre}" for="lugarNombre">Nombre del lugar</label>
							</div>
			        	</div>
			        </div>
			    </li>
			    <li>
			        <div class="collapsible-header">
			        	<i class="ion-ios-location"></i>
			        	<span ng-show="client.places[lugares].address">{{client.places[lugares].address}}</span>
			        	<span ng-show="!client.places[lugares].address">Ingrese una dirección</span>
			        </div>
			        <div class="collapsible-body">
			        	<div class="container">
			        		<div class="input-field">
								<input id="place" type="text"
								ng-model="searchPlace">
				      			<label for="place">Buscar dirección</label>
				      			<a class="waves-effect waves-light btn btnFull" 
				      			ng-click="search()">Buscar</a>
							</div>
							<div class="input-field">
								<div class="section">
								    <h5>{{client.places[lugares].address}}</h5>
								    <p ng-show="client.places[lugares].address">Si la direccion es correcta ya quedo guardado,&nbsp; en caso contrario genere una nueva busqueda.</p>
								    <p ng-show="!client.places[lugares].address">Busque su direccion.</p>
								</div>
							</div>
			        		<div class="input-field hide">
								<input  id="address" type="text" data-ng-model="client.places[lugares].address" disabled>
				      			<label class="active" for="address">Dirección</label>
							</div>
							<div class="input-field hide">
								<input  id="latitude" type="text" ng-value="latitude" data-ng-model="client.places[lugares].latitude" disabled>
				      			<label class="active" for="latitude">Latitud</label>
							</div>
							<div class="input-field hide">
								<input  id="longitude" type="text" ng-value="longitude" data-ng-model="client.places[lugares].longitude" disabled>
				      			<label class="active" for="longitude">Longitud</label>
							</div>
			        	</div>
			        </div>
			    </li>
			    <li>
			        <div class="collapsible-header">
			        	<i class="ion-android-call"></i>
			        	<span ng-show="client.places[lugares].telefono">{{client.places[lugares].telefono}}</span>
			        	<span ng-show="!client.places[lugares].telefono">Ingrese un telefono</span>
			        </div>
			        <div class="collapsible-body">
			        	<div class="container">
			        		<div class="input-field">
								<input id="tel" type="number" step="1" ng-model="client.places[lugares].telefono" >
				      			<label ng-class="{active: client.places[lugares].telefono}" for="telefono">Sin signos ej: 44885689</label>
							</div>
			        	</div>
			        	
			        </div>
			    </li>

			    <li>
			        <div class="collapsible-header">
			        	<i class="ion-person"></i>
			        	<span ng-show="client.places[lugares].rrpp">{{client.places[lugares].rrpp}}</span>
			        	<span ng-show="!client.places[lugares].rrpp">Ingrese RRPP nombre</span>
			        </div>
			        <div class="collapsible-body">
			        	<div class="container">
			        		<div class="input-field">
								<input id="rrpp" type="text" ng-model="client.places[lugares].rrpp" >
				      			<label ng-class="{active: client.places[lugares].rrpp}" for="rrpp">RRPP nombre</label>
							</div>
			        	</div>
			        	
			        </div>
			    </li>
			    <li>
			        <div class="collapsible-header">
			        	<i class="ion-android-phone-portrait"></i>
			        	<span ng-show="client.places[lugares].cellPhone">{{client.places[lugares].cellPhone}}</span>
			        	<span ng-show="!client.places[lugares].cellPhone">Ingrese RRPP celular</span>
			        </div>
			        <div class="collapsible-body">
			        	<div class="container">
			        		<div class="input-field">
								<input id="cellPhone" type="number" step="1" ng-model="client.places[lugares].cellPhone" >
				      			<label ng-class="{active: client.places[lugares].cellPhone}" for="cellPhone">Sin signos ej: 1130748596</label>
							</div>
			        	</div>   	
			        </div>
			    </li>
			    <li>
			        <div class="collapsible-header">
			        	<i class="ion-music-note"></i>
			        	<span ng-show="client.places[lugares].music" ng-repeat="musica in client.places[lugares].music">{{musica.estilo | capitalize}}&nbsp;</span>
			        	<span ng-show="!client.places[lugares].music">Ingrese estilos de música</span>
			        </div>
			        <div class="collapsible-body">
			        	<div class="container">
			        		
							<a class="waves-effect waves-light btn btnFull bg-principal" ng-click="masEstilos()" style="margin: 10px 0px">Agregar un estilo mas</a>
							
							<div class="input-field" ng-repeat="estilo in estilos">
								<input id="music{{estilo.cantidad}}" type="text" ng-model="client.places[lugares].music[estilo.cantidad].estilo" >
				      			<label ng-class="{active: client.places[lugares].music[estilo.cantidad].estilo}" for="music{{estilo.cantidad}}">Ingrese estilo {{estilo.cantidad + 1}}</label>
							</div>
			        	</div>
			        </div>
			    </li>
			    <li>
			        <div class="collapsible-header">
			        	<i class="ion-calendar"></i>
			        	<span ng-show="client.places[lugares].aniversary">{{client.places[lugares].aniversary}}</span>
			        	<span ng-show="!client.places[lugares].aniversary">Ingrese su aniversario</span>
			        </div>
			        <div class="collapsible-body">
			        	<div class="container" style="margin-bottom: 20px">
			        		<div class="input-field">
								<input id="aniversary" type="text" ng-model="client.places[lugares].aniversary">
				      			<label ng-class="{active:client.places[lugares].aniversary}" for="aniversary">dd-mm-aaaa</label>
							</div>
			        	</div>
			        </div>
			    </li>
			    <li>
			        <div class="collapsible-header">
			        	<i class="ion-android-globe"></i>
			        	<span ng-show="client.places[lugares].website">{{client.places[lugares].website}}</span>
			        	<span ng-show="!client.places[lugares].website">Ingrese su website</span>
			        </div>
			        <div class="collapsible-body">
			        	<div class="container" style="margin-bottom: 20px">
			        		<div class="input-field">
								<input id="website" type="text" ng-model="client.places[lugares].website" >
				      			<label ng-class="{active: client.places[lugares].website}" for="website">Ejemplo http://ejemplo.com</label>
							</div>
			        	</div>
			        </div>
			    </li>
		    </ul>
		</div>

		<div style="clear: both;"></div>

		<div class="col s12 m12 l4">
			<div class="section">
			    <h5>Visualizar</h5>
			    <p>El contenido de como se vería en lista e individual</p>
			    <div class="row">
				    <div class="col s12">
				      <ul class="tabs">
				        <li class="tab col s3"><a class="active" href="#tab1">Lista</a></li>
				        <li class="tab col s3"><a href="#tab2">Individual</a></li>
				      </ul>
				    </div>
				    <div id="tab1" class="col s12" style="margin-top: 15px">
				    	<img src="./images/privadoDisco.png">

				        <div class="lista">
				        	<div class="listaImagen">
				        		<img ng-show="client.places[lugares].logo.data" ng-src="{{client.places[lugares].logo.data}}" alt="">
				        		<img ng-show="!client.places[lugares].logo.data" src="./images/logoPredeterminado.jpg" alt="">
				        	</div>
				        	<div class="listaTexto">
				        		<div class="listaNombre">
				        			<span ng-show="client.places[lugares].lugarNombre">{{client.places[lugares].lugarNombre | uppercase}}</span>
				        			<span ng-show="!client.places[lugares].lugarNombre">Nombre del lugar</span>
				        		</div>
				        		<div class="listaDireccion">
				        			<span ng-show="client.places[lugares].address">{{client.places[lugares].address}}</span>
				        			<span ng-show="!client.places[lugares].address">Dirección</span>
				        		</div>
				        		<div class="listaMusica">
				        			<span ng-show="client.places[lugares].music" ng-repeat="musica in client.places[lugares].music">{{musica.estilo | capitalize}}&nbsp;</span>
				        			<span ng-show="!client.places[lugares].music">Música</span>
				        		</div>
				        		<div class="listaExtras">
				        			
				        			<div class="listaDatos">
				        				<i class="ion-location"></i>
				        				<p>100 M</p>
				        			</div>
				        			<div class="listaDatos">
				        				<i class="ion-star"></i>
				        				<p>4.5</p>
				        			</div>

				        		</div>
				        	</div>
				        </div>
				    </div>
				    <div id="tab2" class="col s12" style="margin-top: 15px">
				    	<img src="./images/privadoIndividual.png">

						<div class="individualContenedor">
							<div class="individual">
					        	<div class="indiLogo">
					        		<img ng-show="client.places[lugares].logo.data" ng-src="{{client.places[lugares].logo.data}}" alt="">
					        		<img ng-show="!client.places[lugares].logo.data" src="./images/logoPredeterminado.jpg" alt="">
					        	</div>

					        	<div class="indiTextoLogo">
					        		<div class="indiTextoLogoNombre">
					        			<span ng-show="client.places[lugares].lugarNombre">{{client.places[lugares].lugarNombre | uppercase}}</span>
					        			<span ng-show="!client.places[lugares].lugarNombre">Nombre del lugar</span>
					        		</div>
					        		<div class="indiTextoLogoDireccion">
					        			<span ng-show="client.places[lugares].address">{{client.places[lugares].address}}</span>
					        			<span ng-show="!client.places[lugares].address">Dirección</span>
					        		</div>
					        		<div class="indiTextoLogoText">
					        			<span ng-show="client.places[lugares].textlogo">{{client.places[lugares].textlogo}}</span>
					        			<span ng-show="!client.places[lugares].textlogo">Texto Logo</span>
					        		</div>
					        	</div>

					        	<div class="indiImagen">
					        		<img ng-show="client.places[lugares].imagen.data" ng-src="{{client.places[lugares].imagen.data}}" alt="">
					        		<img ng-show="!client.places[lugares].imagen.data" src="./images/imagenPredeterminado.jpg" alt="">
					        	</div>

					        	<div class="indiTextoImagen">
					        		<div class="indiTextoImagenText">
					        			<span ng-show="client.places[lugares].textimagen">{{client.places[lugares].textimagen}}</span>
					        			<span ng-show="!client.places[lugares].textimagen">Texto Imagen</span>
					        		</div>
					        		<div class="indiExtras">
					        			
					        			<div class="indiExtrasDatos">
					        				<i class="ion-location"></i>
					        				<p>100 M</p>
					        			</div>
					        			<div class="indiExtrasDatos">
					        				<i class="ion-star"></i>
					        				<p>4.5</p>
					        			</div>

					        		</div>
					        	</div>

					        	<div class="indiDatos">
					        		<div class="indiDatosMusica">
					        			<p><i class="ion-music-note"></i>
											<span ng-show="client.places[lugares].music" ng-repeat="musica in client.places[lugares].music">{{musica.estilo}}&nbsp;</span>
					        				<span ng-show="!client.places[lugares].music">Música</span>
					        			</p>
					        		</div>

					        		<div class="divider"></div>
				        		
									<div class="indiDatosTel">
					        			<p><i class="ion-android-call"></i>
											<span ng-show="client.places[lugares].telefono">{{client.places[lugares].telefono}}</span>
					        				<span ng-show="!client.places[lugares].telefono">Telefono</span>
					        			</p>
					        		</div>

					        		<div class="divider"></div>

					        		<div>
					        			<p><i class="ion-person"></i>
											<span ng-show="client.places[lugares].rrpp">RRPP {{client.places[lugares].rrpp}}</span>
					        				<span ng-show="!client.places[lugares].rrpp">RRPP</span>
					        			</p>
					        		</div>

					        		<div class="divider"></div>

					        		<div class="indiDatosCel">
					        			<p><i class="ion-android-phone-portrait"></i>
											<span ng-show="client.places[lugares].cellPhone">RRPP {{client.places[lugares].cellPhone}}</span>
					        				<span ng-show="!client.places[lugares].cellPhone">RRPP Celular</span>
					        			</p>
					        		</div>	        	
									
					        		<div class="divider"></div>

					        		<div class="indiDatosAni">
					        			<p><i class="ion-calendar"></i>
											<span ng-show="client.places[lugares].aniversary">{{client.places[lugares].aniversary}}</span>
					        				<span ng-show="!client.places[lugares].aniversary">Aniversario</span>
					        			</p>
					        		</div>

					        		<div class="divider"></div>

					        		<div class="indiDatosWeb">
					        			<p><i class="ion-earth"></i>
											<span ng-show="client.places[lugares].website">{{client.places[lugares].website}}</span>
					        				<span ng-show="!client.places[lugares].website">Página Web</span>
					        			</p>
					        		</div>

					        		<div class="indiDatosBtn">
					        			<p><i class="ion-ios-star"></i></p>
					        			<p><i class="ion-heart"></i></p>
					        			<p><i class="ion-map"></i></p>
					        		</div>

					        	</div>

					        </div>
						</div>
				        
				    </div>
				</div>
				
			</div>
		</div>
		<div class="col s12 m12 l8" style="padding: 35px">

		    <div class="card-panel cambiables">
				<div class="section">
				    <p><i class="ion-image"></i>
						<span ng-show="client.places[lugares].logo.name">{{client.places[lugares].logo.name}}</span>
						<span ng-show="!client.places[lugares].logo.name">Logo</span>
				    </p>
				    <div class="file-field input-field">
				        <div class="btn">
				        	<span>File</span>
				        	<input type="file" ng-file-model="client.places[lugares].logo">
				        </div>
				        <div class="file-path-wrapper">
				        	<input class="file-path validate" type="text">
				        </div>
				    </div>
		  		</div>

		  		<div class="divider"></div>

		  		<div class="section">
				    <p><i class="ion-document-text"></i>
						<span ng-show="client.places[lugares].textlogo">{{client.places[lugares].textlogo}}</span>
						<span ng-show="!client.places[lugares].textlogo">Texto Logo</span>
				    </p>
				    <div class="input-field">
						<input id="textLogo" type="text" ng-model="client.places[lugares].textlogo">
		      			<label ng-class="{active: client.places[lugares].textlogo}" for="textLogo">Texto logo</label>
					</div>
				</div>

				<div class="divider"></div>

				<div class="section">
				    <p><i class="ion-image"></i>
						<span ng-show="client.places[lugares].imagen.name">{{client.places[lugares].imagen.name}}</span>
						<span ng-show="!client.places[lugares].imagen.name">Imagen</span>
				    </p>
				    <div class="file-field input-field">
				        <div class="btn">
				        	<span>File</span>
				        	<input type="file" ng-file-model="client.places[lugares].imagen">
				        </div>
				        <div class="file-path-wrapper">
				        	<input class="file-path validate" type="text">
				        </div>
				    </div>
				</div>

				<div class="divider"></div>

				<div class="section">
				    <p><i class="ion-document-text"></i>
						<span ng-show="client.places[lugares].textimagen">{{client.places[lugares].textimagen}}</span>
						<span ng-show="!client.places[lugares].textimagen">Texto Imagen</span>
				    </p>
				    <div class="input-field">
						<input id="textimagen" type="text" ng-model="client.places[lugares].textimagen">
		      			<label ng-class="{active: client.places[lugares].textimagen}" for="textimagen">Texto imagen</label>
					</div>
				</div>

		    </div>
		</div>
	</div>
</div>

<!-- Modal Structure -->
<div id="modalLugares" class="modal">
    <div class="modal-content">
        <h4>Seleccione un lugar</h4>
        <p>Cada lugar puede tardar en estar online hasta 24 horas.</p>
        <div>
        	
			<p>
		        <input ng-model="client.places[places].client" type="checkbox" id="disco1" ng-true-value="'disco'" ng-false-value="''" ng-click="ingresarNuevoLugar()">
		        <label for="disco1">Disco</label>
	    	</p>

		
			<p>
		        <input ng-model="client.places[places].client" type="checkbox" id="bar1" ng-true-value="'bar'" ng-false-value="''" ng-click="ingresarNuevoLugar()">
		        <label for="bar1">Bar</label>
		    </p>

		    <p ng-show="ocultar">
		    	<input ng-model="client.places[places].status" type="text">
		    </p>
		
        </div>
    </div>
    <div class="modal-footer">
        <a class=" modal-action modal-close waves-effect waves-green btn bg-principal" ng-click="modalLugares('cerrar')">Cerrar</a>
    </div>
</div>
