<div class="row" style="overflow-x:hidden;position: relative;margin: 0;padding: 0">
  <img ng-src="{{imagenServicios}}" alt="" width="100%">
</div>

<div class="row push-titulo bg-blanco">
	<div class="col s12 m7">
        <img src="images/pushNotification.png" alt="">
    </div>
    <div class="csl s12 m5">
    	<div class="section">
		    <h5>Push Notification</h5>
		    <p>La forma mas fácil y directa para llegar a tus usuarios.</p>
		</div>
    </div>
    <div style="clear: both;"></div>
	<div class="container">
		<ul class="collapsible popout" data-collapsible="accordion">
		    <li>
		        <div class="collapsible-header active"><i class="ion-android-locate"></i>Push Zonal</div>
		        <div class="collapsible-body">
		        	<p>Lorem ipsum dolor sit amet.</p>
		        	<div class="btn-push">
		        		<a class="waves-effect waves-light btn bg-principal">Consultar costos</a>
		        	</div>
		        </div>
		    </li>
		    <li>
		        <div class="collapsible-header"><i class="ion-qr-scanner"></i>Push Gold</div>
		        <div class="collapsible-body">
		        	<p>Lorem ipsum dolor sit amet.</p>
		        	<div class="btn-push">
		        		<a class="waves-effect waves-light btn bg-principal">Consultar costos</a>
		        	</div>
		        </div>
		    </li>
		    <li>
		        <div class="collapsible-header"><i class="ion-planet"></i>PushUniverse</div>
		        <div class="collapsible-body">
		        	<p>Lorem ipsum dolor sit amet.</p>
		        	<div class="btn-push">
		        		<a class="waves-effect waves-light btn bg-principal">Consultar costos</a>
		        	</div>
		        </div>
		    </li>
		</ul>
	</div>
</div>